<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app   xmlns="http://java.sun.com/xml/ns/javaee"
           version="2.5">

  <display-name>Archetype Created Web Application</display-name>

  <!-- Protect everything within the "investing" directory. -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ChoreTracker</web-resource-name>
      <url-pattern>/edit.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <!-- <role-name>registered-user</role-name> -->
      <role-name>administrator</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>userSearch</web-resource-name>
      <url-pattern>/userSearch</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <!-- <role-name>registered-user</role-name> -->
      <role-name>administrator</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>choreSearch</web-resource-name>
      <url-pattern>/choreSearch</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <!-- <role-name>registered-user</role-name> -->
      <role-name>administrator</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>houseSearch</web-resource-name>
      <url-pattern>/houseSearch</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <!-- <role-name>registered-user</role-name> -->
      <role-name>administrator</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>userRoleSearch</web-resource-name>
      <url-pattern>/userRoleSearch</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <!-- <role-name>registered-user</role-name> -->
      <role-name>administrator</role-name>
    </auth-constraint>
  </security-constraint>

  <security-role>
    <role-name>registered-user</role-name>
  </security-role>

  <security-role>
    <role-name>administrator</role-name>
  </security-role>

  <!-- Tell the server to use form-based authentication. -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/JSP/login.jsp</form-login-page>
      <form-error-page>/JSP/failedLogin.jsp</form-error-page>
    </form-login-config>
  </login-config>

</web-app>
